.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Prend toute la hauteur de la fenêtre */
  text-align: center;
  padding: 20px;
}

.home-tagline {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px; /* Espace sous le slogan */
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.home-button-login {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #4CAF50, #2196F3);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  margin-bottom: 20px;
}

.home-button-login:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.home-button-login:active {
  transform: scale(0.95);
}

.home-button-register {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #4CAF50, #1E88E5);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
}

.home-button-register:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.home-button-register:active {
  transform: scale(0.95);
}