.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Centrage vertical */
  padding: 20px;
  text-align: center;
}

.register-page h1 {
  font-size: 2.5rem;
  color: transparent;
  background: linear-gradient(45deg, #4CAF50, #2196F3);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px; 
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px; 
  width: 100%;
}

.input-group input {
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  width: 90%; 
  margin: 0 auto; 
}

.input-group input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
}

.submit-button {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #4CAF50, #2196F3);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 30px; 
  width: 90%; 
}

.submit-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.submit-button:active {
  transform: scale(0.95);
}
